# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

    
"""

from __future__ import absolute_import

import re

# python 2 and python 3 compatibility library
import six

from douyin.open.devtool.monitor.api_client import ApiClient


class DefaultApi(object):
    """NOTE: 由抖音小开自动生成，请勿自己修改
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def devtool_monitor_call_post(self, access_token, time_type, begin_time, end_time, **kwargs):
        """获取接口调用监控情况

        * Scope: `devtool` 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.devtool_monitor_call_post(access_token, time_type, begin_time, end_time, async_req=False)
        >>> result = thread.get()

        :param async_req bool
        :param str access_token: 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
        :param str time_type: 时间类型 (required)
        :param str begin_time: 开始日期(20190101) (required)
        :param str end_time: 结束日期(20190101) (required)
        :param DevtoolMonitorCallBody body:
        :return: DevtoolMonitorCallResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.devtool_monitor_call_post_with_http_info(access_token, time_type, begin_time, end_time, **kwargs)
        else:
            (data) = self.devtool_monitor_call_post_with_http_info(access_token, time_type, begin_time, end_time, **kwargs)
            return data

    def devtool_monitor_call_post_with_http_info(self, access_token, time_type, begin_time, end_time, **kwargs):
        """获取接口调用监控情况  # noqa: E501

        * Scope: `devtool` 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.devtool_monitor_call_post_with_http_info(access_token, time_type, begin_time, end_time, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str access_token: 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
        :param str time_type: 时间类型 (required)
        :param str begin_time: 开始日期(20190101) (required)
        :param str end_time: 结束日期(20190101) (required)
        :param DevtoolMonitorCallBody body:
        :return: DevtoolMonitorCallResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['access_token', 'time_type', 'begin_time', 'end_time', 'body']
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method devtool_monitor_call_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'access_token' is set
        if ('access_token' not in params or
                params['access_token'] is None):
            raise ValueError("Missing the required parameter `access_token` when calling `devtool_monitor_call_post`")
        # verify the required parameter 'time_type' is set
        if ('time_type' not in params or
                params['time_type'] is None):
            raise ValueError("Missing the required parameter `time_type` when calling `devtool_monitor_call_post`")
        # verify the required parameter 'begin_time' is set
        if ('begin_time' not in params or
                params['begin_time'] is None):
            raise ValueError("Missing the required parameter `begin_time` when calling `devtool_monitor_call_post`")
        # verify the required parameter 'end_time' is set
        if ('end_time' not in params or
                params['end_time'] is None):
            raise ValueError("Missing the required parameter `end_time` when calling `devtool_monitor_call_post`")

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'access_token' in params:
            query_params.append(('access_token', params['access_token']))
        if 'time_type' in params:
            query_params.append(('time_type', params['time_type']))
        if 'begin_time' in params:
            query_params.append(('begin_time', params['begin_time']))
        if 'end_time' in params:
            query_params.append(('end_time', params['end_time']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(
            ['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(
            '/devtool/monitor/call/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DevtoolMonitorCallResponse',
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
